
// Rich and Colorful
$background: #ececec;
$primary: #90ccf5;
$secondary: #5da2d5;
$accent1: #f78888;
$accent2: #f3d250;

// //Youthful and Fun
// $background: #f5e6cc;
// $primary: #ffb48f;
// $secondary: #17e9e0;
// $accent1: #a64ac9;
// $accent2: #fccd04;

// // Flat Design Colors
// $background: #ffffff;
// $primary: #d3e3fc;
// $secondary: #ffccbc;
// $accent1: #77a6f7;
// $accent2: #00887a;

// //Lively Yet Soothing
// $background: #edeae5;
// $primary: #9fedd7;
// $secondary: #fef9c7;
// $accent1: #026670;
// $accent2: #fce181;


// Breakpoints
$small:   0;
$medium:  376px;
$xmedium: 550px;
$large:   769px;
$larger:  900px;
$xlarge:  1201px;
$xxlarge: 1441px;
