<template>
  <section class="hero is-primary">
    <div class="hero-body">
        <h1>
          {{ title }}
        </h1>
        <h2>
          {{ subtitle }}
        </h2>
    </div>
  </section>
</template>
<script>
export default {
  props: {
    title: String,
    subtitle: String
  }
  
}
  
</script>