<template>
  <div class="default-container">
    <Navbar />
    <nuxt />
  </div>
</template>
<script>
import Navbar from '~/components/organisms/Navbar.vue'

export default {
  components: {
    Navbar
  }
}
</script>

