<template>
  <div class="page__about">
    <div>
      <PageHero
        title="About Us"
        subtitle="This is about us."
      />
    </div>
  </div>
</template>

<script>
import PageHero from '~/components/molecules/PageHero.vue'

export default {
  components: {
    PageHero
  }
}

</script>